/* アプリ共通のグローバル CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light モードの基調色 */
:root {
  --background: #ffffff;
  --foreground: #111111;
}

/* OS 設定がダークモードのとき */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}
